.container {
    width: 100%;
    height: 100vh;
    position: relative;
}

.loginContainer{
    transform: translateY(45%);
    width: 364px;
    height: 464px;
    padding:40px;
}

.formContainer {
    width: 100%;
    justify-content:center;
}

.googleButton {
    margin-top:30px;
    background-color: rgb(32, 56, 56);
    width: 100%;
    height: 60px;
    color:white;
}

.googleButton:hover {
    background-color: darkslategray;
    transition: all 0.3s;
}